/* defaults - https://github.com/jgthms/bulma/blob/master/sass/utilities/derived-variables.sass */

/* Custom First Responder color theme */
$nypd-blue-dark: #102040;
$nypd-blue: #013478;
$nypd-blue-light: #6380A6;
$nypd-blue-lighter: #04B2D9;
$blue-link: #3273dc;
$nypd-yellow: #F2C335;
$fdny-red: #D22429;
$mil-green: #556b2f;
$mil-tan: #BFB6AA;
$white: #FFFFFF;
$white-dark: #F0F4F9;
$gray: #b7b7b7;
$gray-light: #ebebeb;
$black: #181818;

/* Overrides for Bulma defaults */
$primary: $nypd-blue-dark;
$danger: $fdny-red;
$warning: $nypd-yellow;
$dark: $black;
$body-color: $black;
$box-radius: 4px;
$list-shadow: none;
$modal-content-width: 960px;
$footer-padding: 1.5rem !default;
$footer-background-color: $nypd-blue-dark;
$list-background-color: inherit;
$card-content-padding: 1.5rem 2rem;
$level-item-spacing: 2rem;